// general stylesheet.

body{
	background-image: url(../img/project-background.jpg);
	background-size: 100%;
	color: #fff;
	font-family: 'Signika', sans-serif;
}

// top title for my work- apps and Web Sites
.section-title{
	@extend %section-divide;

	h4{
		font-family: 'Signika', sans-serif;
		font-size: 1.5em;
		font-weight: 300;
		margin: 0 auto;
		overflow: hidden;
		padding-top: 0.8em;
	}

	img{
		margin: 0.4em 0 0 0;
	}
}

// General footer for all pages
footer{
	@include setsize(auto, 100%);
	background-color: $primary-color;
	overflow: hidden;
	text-align: center;

	ul{
		overflow: hidden;

		li{
			@include setsize(auto, 2%);
			display: inline-block;
			float: right;
			list-style: none;
			margin: auto 0.75%;
		}
	}

	img{
		@include setsize(auto, 100%);
	}

	p{
		font-size: 0.7rem;
		overflow: hidden;
		
	}
}

// Breadcrumbs for project pages
.breadcrumbs{
	@extend %link-reset;
	color: $secondary-color;
	display: inline-block;
	margin: 1em 0 0 0;
}

// general style for h2 elements
h2 {
	@include box-title(1, rex_bold_, 4rem, 0 0 0 1.7em, left, auto);
}

// general style for h2 elements
h3{
	color: #fff;
}

// styles for left side column articles in project pages
article[class="left-side"]{
	@include setsize(auto, 45%);
	@include content-p(#c4c4c4, left, 1em auto, left);
	display: inline-block;
	overflow: hidden;

	p{
		@include setsize(auto, 100%);
		float: left;
		margin: 0 auto;
		padding: 1em;
	}

	img{
		@include setsize(auto, 100%);
		float: left;
		margin: 0 auto;
		padding: 1em;
	}
}

// styles for right side column articles in project pages
article[class="right-side"]{
	@include setsize(auto, 40%);
	@include content-p(#c4c4c4, right, 1.5em auto, left);
	display: inline-block;
	overflow: hidden;

	p{
		@include setsize(auto, 100%);
	}

	img{
		@include setsize(auto, 100%);
	}
}