#app-1{
	background-image: url(../img/app-centinel1.jpg);
}

#app-2{
	background-image: url(../img/app-centinel2.jpg);
}

#app-3{
	background-image: url(../img/app-skoon.jpg);
}

#site-1 {
	background-image: url(../img/iluminada-header.jpg);
	background-size: 100%;
}

#site-2 {
	background-image: url(../img/centinelasite1.jpg);
	background-size: 100%;
}

#site-3 {
	background-image: url(../img/Infusionheader.jpg);
	background-size: 100%;
}