@mixin setsize($height, $width){
	height: $height;
	width: $width;
}

@mixin box-title($op, $ff, $fs, $margin, $text-align, $width){
	opacity: $op;
	font-family: $ff;
	font-size: $fs;
	margin: $margin;
	text-align: $text-align;
	width: $width;
}

@mixin content-p($color, $float, $margins, $ta){
	color: $color;
	float: $float;
	margin: $margins;
	text-align: $ta;

}