// header stylesheet

.main-header{
	@include setsize(auto, 100%);
	background-image: url(../img/header-background.jpg);
	background-size: 100%;
	overflow: hidden;
	text-align: center;

	h1{
		border-bottom: 1px solid #fff;
		display: inline-block;
		font-family: 'rex_bold_';
		font-size: 5rem;
		margin: 0 25%;
		overflow: hidden;
		padding: 4em 0 0 0;
		width: 50%;
	}

	h3{
		color: $secondary-color;
		font-family: 'rex_bold_';
		font-size: 3rem;
		font-weight: 100;
	}

	p{	
		@include setsize(auto, 40%);
		font-size: 2.5rem;
		margin: 0  auto 4.5em auto;
	}
}