// _sites-section stylesheet

// section start-----
#mywork-websites {
	background-color: #000;
	padding-bottom: 2em;
}
// section end--

// for each site container box
.site-box{
	@include setsize(auto, 70%);
	background-color: $primary-color;
	margin: 0 auto 1.5em auto;
	padding: 1.5em;
	overflow: hidden;

	h2 {
		@extend %box-title;
	}

	a{
		@extend %box-link;
	}
}
// for each site container box

