.project-main-title{
	@extend %project-main-title-style;
}

p.left-side-content{
	margin: 0 0 0 8%;
}

.app-design-frame{
	padding: 2em 8%;
	overflow: hidden;

	p{
		@include setsize(auto, 45%);
		float: left;
		margin: 0 auto;
		padding: 1em;
	}

	img{
		@include setsize(auto, 45%);
		float: right;
		margin: 0 auto;
		padding: 1em;
	}
}

.app-develop-experience{
	background-color: rgba(0, 0, 0, 0.6);
	overflow: hidden;
	padding: 2em 10%;
}

// styles for left side column articles in project pages
article.left-side-content{
	@include setsize(auto, 48%);
	@include content-p(#c4c4c4, left, 1em auto, left);
	display: inline-block;
	overflow: hidden;

	p{
		@include setsize(auto, 100%);
		float: left;
		margin: 0 auto;
		padding: 1em;
	}

	p.left-side-content{
		padding: 0 0 0 5%;
	}

	img{
		@include setsize(auto, 100%);
		float: left;
		margin: 0 auto;
		padding: 1em;
	}
}

// styles for right side column articles in project pages
article.right-side-content{
	@include setsize(auto, 48%);
	@include content-p(#c4c4c4, right, 1.5em auto, left);
	display: inline-block;
	overflow: hidden;

	p{
		@include setsize(auto, 100%);
	}

	img{
		@include setsize(auto, 100%);
	}
}
