// section start-----
#experience{
	@include setsize(500px, 100%);
	
	h2{
		@extend %little-section-title;
		@include box-title(1, rex_bold_, 3rem, 0.8em auto 0 auto, center, 100%);
		color: #fff;
	}

	img{
		@include setsize(15em, 24%);
		float: right;
		margin: 3em 15% 0 0 ; 
	}

	p{
		@include setsize(auto, 40%);
		float: left;
		font-size: 2rem;
		margin: 3em 0 0 15%;
		overflow: hidden;
	}
}
// section ends--