// header stylesheet

.main-header{
	background-image: url(../img/header-background.jpg);
	background-size: 100%;
	height: 65em;
	text-align: center;

	h1{
		border-bottom: 1px solid #fff;
		display: inline-block;
		font-family: 'rex_bold_';
		font-size: 5rem;
		margin: 4em auto 0 auto;
		overflow: hidden;
		width: 60%;
	}

	h3{
		color: $secondary-color;
		font-family: 'rex_bold_';
		font-size: 3rem;
		font-weight: 100;
	}

	p{
		font-size: 2.5rem;
		margin: 0 auto;
		width: 40%;
	}
}