// _sites-section stylesheet

// section start-----
#mywork-websites {
	background-color: #000;
	padding-bottom: 2em;
}
// section end--

// for each site container box
.site-box{
	@include setsize(500px, 70%);
	background-color: $primary-color;
	margin: 1.5em auto 1.5em auto;
	overflow: hidden;

	h2 {
		@extend %box-title;
	}

	a{
		@extend %box-link;
	}
}
// for each site container box

