.project-main-title{
	@extend %project-main-title-style;
}

p.left-side-content{
	margin: 0 0 0 8%;
}

.site-design-frame{
	padding: 2em 8%;
	overflow: hidden;
	
	img{
		@include setsize(auto, 45%);
		float: left;
	}

	h3{
		@include setsize(auto, 45%);
		float: right;
	}

	p{
		@include setsize(auto, 45%);
		float: right;
	}
}

.app-develop-challenge{
	padding: 0 8%;

	h2{
		margin: 0 0 0.5em 0;
	}

	p{
		@include setsize(auto, 45%);
	}

	img {
		@include setsize(auto, 45%);
	}

	article{
		@include setsize(auto, 100%);		
		margin: 2em 0;
		overflow: hidden;
		padding: 2em 0;
	}

}

.wide-content-banner{
	@include setsize(20em !important, 100% !important);
	margin: 2em 0;
}

.left{
	display: inline-block;
	float: left;
}

.right{
	display: inline-block;
	float: right;
}

.app-develop-experience{
	background-color: rgba(0, 0, 0, 0.6);
	
	p, img{
		@include setsize(auto, 45%);
	}



}
