@import url(http://fonts.googleapis.com/css?family=Signika:300);
/* line 1, ../scss/partials/_placeholders.scss */
.app-project-presentation a, .site-box a, .breadcrumbs, .nav-link, .dropdown-link {
  color: #fff;
  text-decoration: none;
}

/* line 6, ../scss/partials/_placeholders.scss */
nav > ul > li .dropdown-items {
  position: absolute;
  top: 3em;
  overflow: hidden;
  background-color: #353535;
}

/* line 14, ../scss/partials/_placeholders.scss */
.mywork-section-title {
  background-color: #4c4c4c;
  height: 6em;
  text-align: center;
  overflow: hidden;
}

/* line 23, ../scss/partials/_placeholders.scss */
.app-project-presentation h2, .site-box h2 {
  font-family: rex_bold_;
  font-size: 5rem;
  margin: 1.1em 0 0 0;
  text-align: center;
  width: 100%;
}

/* line 33, ../scss/partials/_placeholders.scss */
.app-project-presentation a, .site-box a {
  background-color: #000;
  border: 2px solid #fff;
  font-size: 1.2rem;
  display: block;
  margin: 0.5em auto 4.4em auto;
  overflow: hidden;
  text-align: center;
  width: 6%;
}

/* line 46, ../scss/partials/_placeholders.scss */
#aboutme h2, #experience h2, #contactme h2, #clients h2 {
  color: #4c4c4c;
  overflow: hidden;
  display: inline-block;
}

/* line 56, ../scss/partials/_placeholders.scss */
.project-main-title {
  background-color: rgba(0, 0, 0, 0);
  background-size: 100%;
  margin: 0;
  padding: 0 0 0 8%;
}

@font-face {
  font-family: 'rex_bold_';
  src: url("../fonts/rex-bold-webfont.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'rex_bold_';
  src: url("../fonts/rex-bold-webfont.ttf") format("truetype");
  src: url("../fonts/rex-bold-webfont.woff") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'rex_light';
  src: url("../fonts/rex-light-webfont.ttf") format("truetype");
  src: url("../fonts/rex-light-webfont.woff") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* line 1, ../scss/partials/_images.scss */
#app-1 {
  background-image: url(../img/app-centinel1.jpg);
}

/* line 5, ../scss/partials/_images.scss */
#app-2 {
  background-image: url(../img/app-centinel2.jpg);
}

/* line 9, ../scss/partials/_images.scss */
#app-3 {
  background-image: url(../img/app-skoon.jpg);
}

/* line 13, ../scss/partials/_images.scss */
#site-1 {
  background-image: url(../img/iluminada-header.jpg);
  background-size: 100%;
}

/* line 18, ../scss/partials/_images.scss */
#site-2 {
  background-image: url(../img/centinelasite1.jpg);
  background-size: 100%;
}

/* line 23, ../scss/partials/_images.scss */
#site-3 {
  background-image: url(../img/Infusionheader.jpg);
  background-size: 100%;
}

/* line 3, ../scss/partials/_basics.scss */
body {
  background-image: url(../img/project-background.jpg);
  background-size: 100%;
  color: #fff;
  font-family: 'Signika', sans-serif;
}

/* line 14, ../scss/partials/_basics.scss */
.mywork-section-title h4 {
  font-family: 'Signika', sans-serif;
  font-size: 1.5em;
  font-weight: 300;
  margin: 0 auto;
  overflow: hidden;
  padding-top: 0.8em;
}
/* line 23, ../scss/partials/_basics.scss */
.mywork-section-title img {
  margin: 0.4em 0 0 0;
}

/* line 29, ../scss/partials/_basics.scss */
footer {
  height: auto;
  width: 100%;
  background-color: #4c4c4c;
  overflow: hidden;
  text-align: center;
}
/* line 35, ../scss/partials/_basics.scss */
footer ul {
  overflow: hidden;
}
/* line 38, ../scss/partials/_basics.scss */
footer ul li {
  height: auto;
  width: 2%;
  display: inline-block;
  float: right;
  list-style: none;
  margin: auto 0.75%;
}
/* line 47, ../scss/partials/_basics.scss */
footer img {
  height: auto;
  width: 100%;
}
/* line 51, ../scss/partials/_basics.scss */
footer p {
  font-size: 0.7rem;
  overflow: hidden;
}

/* line 59, ../scss/partials/_basics.scss */
.breadcrumbs {
  color: #ffa100;
  display: inline-block;
  margin: 1em 0 0 0;
}

/* line 67, ../scss/partials/_basics.scss */
h2 {
  opacity: 1;
  font-family: rex_bold_;
  font-size: 4rem;
  margin: 0 0 0 1.7em;
  text-align: left;
  width: auto;
}

/* line 72, ../scss/partials/_basics.scss */
h3 {
  color: #fff;
}

/* line 3, ../scss/partials/modules/_header.scss */
.main-header {
  height: auto;
  width: 100%;
  background-image: url(../img/header-background.jpg);
  background-size: 100%;
  overflow: hidden;
  text-align: center;
}
/* line 10, ../scss/partials/modules/_header.scss */
.main-header h1 {
  border-bottom: 1px solid #fff;
  display: inline-block;
  font-family: 'rex_bold_';
  font-size: 5rem;
  margin: 0 25%;
  overflow: hidden;
  padding: 4em 0 0 0;
  width: 50%;
}
/* line 21, ../scss/partials/modules/_header.scss */
.main-header h3 {
  color: #ffa100;
  font-family: 'rex_bold_';
  font-size: 3rem;
  font-weight: 100;
}
/* line 28, ../scss/partials/modules/_header.scss */
.main-header p {
  height: auto;
  width: 40%;
  font-size: 2.5rem;
  margin: 0  auto 4.5em auto;
}

/* line 1, ../scss/partials/modules/_nav.scss */
nav {
  background-color: #4c4c4c;
  height: 5em;
  opacity: 0.5;
  width: 100%;
}
/* line 7, ../scss/partials/modules/_nav.scss */
nav .logo {
  float: left;
  height: 3em;
  margin: 1%;
  width: 5em;
}
/* line 14, ../scss/partials/modules/_nav.scss */
nav > ul {
  float: right;
  list-style-type: none;
  margin: 1em 2% 0 0;
  width: 38%;
  font-size: 1.5em;
}
/* line 21, ../scss/partials/modules/_nav.scss */
nav > ul > li {
  float: left;
  margin: 0 2% 0 0;
}
/* line 25, ../scss/partials/modules/_nav.scss */
nav > ul > li .dropdown-items {
  line-height: 1.4em;
  list-style-type: none;
  margin-top: 0.2em;
  padding: 0;
  max-height: 0;
}

/* line 39, ../scss/partials/modules/_nav.scss */
.nav-link:hover {
  text-decoration: underline;
}

/* line 44, ../scss/partials/modules/_nav.scss */
.dropdown-link {
  display: inline-block;
}

/* line 4, ../scss/partials/modules/_apps-section.scss */
.app-project-presentation {
  height: auto;
  width: 100%;
  margin: 0 0 0 0;
  overflow: hidden;
}

/* line 4, ../scss/partials/modules/_sites-section.scss */
#mywork-websites {
  background-color: #000;
  padding-bottom: 2em;
}

/* line 11, ../scss/partials/modules/_sites-section.scss */
.site-box {
  height: auto;
  width: 70%;
  background-color: #4c4c4c;
  margin: 0 auto 1.5em auto;
  padding: 1.5em;
  overflow: hidden;
}

/* line 2, ../scss/partials/modules/_aboutme-section.scss */
#aboutme {
  height: auto;
  width: 100%;
  background-color: #eaff00;
  background-image: url(../img/aboutme-background.png);
  background-size: 100%;
  color: #000;
  overflow: hidden;
  text-align: center;
}
/* line 11, ../scss/partials/modules/_aboutme-section.scss */
#aboutme h2 {
  opacity: 1;
  font-family: rex_bold_;
  font-size: 3rem;
  margin: 0.8em auto;
  text-align: center;
  width: 100%;
}
/* line 16, ../scss/partials/modules/_aboutme-section.scss */
#aboutme img {
  height: auto;
  width: 20%;
  display: block;
  float: left;
  margin: 0 0 3em 15.5%;
}
/* line 23, ../scss/partials/modules/_aboutme-section.scss */
#aboutme p {
  height: auto;
  width: 40%;
  display: inline-block;
  color: #000;
  float: right;
  font-family: 'Signika', sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  margin: 1.7em 13% 1em 0;
  padding: 1%;
  text-align: left;
}

/* line 2, ../scss/partials/modules/_experience-section.scss */
#experience {
  height: auto;
  width: 100%;
  overflow: hidden;
}
/* line 6, ../scss/partials/modules/_experience-section.scss */
#experience h2 {
  opacity: 1;
  font-family: rex_bold_;
  font-size: 3rem;
  margin: 0.8em auto 0 auto;
  text-align: center;
  width: 100%;
  color: #fff;
}
/* line 12, ../scss/partials/modules/_experience-section.scss */
#experience img {
  height: auto;
  width: 24%;
  float: right;
  margin: 1em 15% 3em 0;
}
/* line 18, ../scss/partials/modules/_experience-section.scss */
#experience p {
  height: auto;
  width: 40%;
  float: left;
  font-size: 2rem;
  margin: 1.5em 0 0 15%;
  overflow: hidden;
}

/* line 2, ../scss/partials/modules/_contactme-section.scss */
#contactme {
  height: auto;
  width: 100%;
  background-color: #4c4c4c;
  overflow: hidden;
}
/* line 7, ../scss/partials/modules/_contactme-section.scss */
#contactme h2 {
  opacity: 1;
  font-family: rex_bold_;
  font-size: 3rem;
  margin: 0.8em auto 1em auto;
  text-align: center;
  width: 100%;
  color: #fff;
}
/* line 13, ../scss/partials/modules/_contactme-section.scss */
#contactme form {
  height: auto;
  width: 100%;
  color: #000;
}
/* line 17, ../scss/partials/modules/_contactme-section.scss */
#contactme form label {
  color: #fff;
  margin: 0 0 1% 25%;
  display: none;
}
/* line 23, ../scss/partials/modules/_contactme-section.scss */
#contactme form input {
  height: 2em;
  width: 20%;
  border: none;
  border-radius: 0.5em;
  display: block;
  margin: 0 0 1.5em 25%;
  text-indent: 1em;
}
/* line 32, ../scss/partials/modules/_contactme-section.scss */
#contactme form textarea {
  height: 12em;
  width: 20%;
  border: none;
  border-radius: 0.5em;
  display: block;
  float: right;
  margin: -11em 25% 5em 0;
  resize: vertical;
  text-indent: 1em;
}

/* line 45, ../scss/partials/modules/_contactme-section.scss */
#submit-btn {
  background-color: #eaff00;
  color: #000;
}

/* line 2, ../scss/partials/modules/_clients-section.scss */
#clients {
  height: auto;
  width: 100%;
  background-color: #000;
  overflow: hidden;
}
/* line 7, ../scss/partials/modules/_clients-section.scss */
#clients h2 {
  opacity: 1;
  font-family: rex_bold_;
  font-size: 3rem;
  margin: 0.8em auto 0 auto;
  text-align: center;
  width: 100%;
  color: #fff;
}
/* line 13, ../scss/partials/modules/_clients-section.scss */
#clients ul {
  height: auto;
  width: 100%;
  margin: 0 auto;
}
/* line 17, ../scss/partials/modules/_clients-section.scss */
#clients ul li {
  height: auto;
  width: 20%;
  display: inline-block;
  list-style: none;
  margin: 0 5%;
  padding: 2.5em 0;
}
/* line 25, ../scss/partials/modules/_clients-section.scss */
#clients ul img {
  height: auto;
  width: 100%;
}

/* line 5, ../scss/partials/modules/_apps-project-page.scss */
p.left-side-content {
  margin: 0 0 0 8%;
}

/* line 9, ../scss/partials/modules/_apps-project-page.scss */
.app-design-frame {
  padding: 2em 8%;
  overflow: hidden;
}
/* line 13, ../scss/partials/modules/_apps-project-page.scss */
.app-design-frame p {
  height: auto;
  width: 45%;
  float: left;
  margin: 0 auto;
  padding: 1em;
}
/* line 20, ../scss/partials/modules/_apps-project-page.scss */
.app-design-frame img {
  height: auto;
  width: 45%;
  float: right;
  margin: 0 auto;
  padding: 1em;
}

/* line 28, ../scss/partials/modules/_apps-project-page.scss */
.app-develop-experience {
  background-color: rgba(0, 0, 0, 0);
  overflow: hidden;
  padding: 2em 10%;
}

/* line 35, ../scss/partials/modules/_apps-project-page.scss */
article.left-side-content {
  height: auto;
  width: 48%;
  color: #c4c4c4;
  float: left;
  margin: 1em auto;
  text-align: left;
  display: inline-block;
  overflow: hidden;
}
/* line 41, ../scss/partials/modules/_apps-project-page.scss */
article.left-side-content p {
  height: auto;
  width: 100%;
  float: left;
  margin: 0 auto;
  padding: 1em;
}
/* line 48, ../scss/partials/modules/_apps-project-page.scss */
article.left-side-content p.left-side-content {
  padding: 0 0 0 5%;
}
/* line 52, ../scss/partials/modules/_apps-project-page.scss */
article.left-side-content img {
  height: auto;
  width: 100%;
  float: left;
  margin: 0 auto;
  padding: 1em;
}

/* line 61, ../scss/partials/modules/_apps-project-page.scss */
article.right-side-content {
  height: auto;
  width: 48%;
  color: #c4c4c4;
  float: right;
  margin: 1.5em auto;
  text-align: left;
  display: inline-block;
  overflow: hidden;
}
/* line 67, ../scss/partials/modules/_apps-project-page.scss */
article.right-side-content p {
  height: auto;
  width: 100%;
}
/* line 71, ../scss/partials/modules/_apps-project-page.scss */
article.right-side-content img {
  height: auto;
  width: 100%;
}

/* line 5, ../scss/partials/modules/_sites-project-page.scss */
p.left-side-content {
  margin: 0 0 0 8%;
}

/* line 9, ../scss/partials/modules/_sites-project-page.scss */
.site-design-frame {
  padding: 2em 8%;
  overflow: hidden;
}
/* line 13, ../scss/partials/modules/_sites-project-page.scss */
.site-design-frame img {
  height: auto;
  width: 45%;
  float: left;
}
/* line 18, ../scss/partials/modules/_sites-project-page.scss */
.site-design-frame h3 {
  height: auto;
  width: 45%;
  float: right;
}
/* line 23, ../scss/partials/modules/_sites-project-page.scss */
.site-design-frame p {
  height: auto;
  width: 45%;
  float: right;
}

/* line 29, ../scss/partials/modules/_sites-project-page.scss */
.app-develop-challenge {
  padding: 0 8%;
}
/* line 32, ../scss/partials/modules/_sites-project-page.scss */
.app-develop-challenge h2 {
  margin: 0 0 0.5em 0;
}
/* line 36, ../scss/partials/modules/_sites-project-page.scss */
.app-develop-challenge p {
  height: auto;
  width: 45%;
}
/* line 40, ../scss/partials/modules/_sites-project-page.scss */
.app-develop-challenge img {
  height: auto;
  width: 45%;
}
/* line 44, ../scss/partials/modules/_sites-project-page.scss */
.app-develop-challenge article {
  height: auto;
  width: 100%;
  margin: 2em 0;
  overflow: hidden;
  padding: 2em 0;
}

/* line 53, ../scss/partials/modules/_sites-project-page.scss */
.wide-content-banner {
  height: 20em !important;
  width: 100% !important;
  margin: 2em 0;
}

/* line 58, ../scss/partials/modules/_sites-project-page.scss */
.left {
  display: inline-block;
  float: left;
}

/* line 63, ../scss/partials/modules/_sites-project-page.scss */
.right {
  display: inline-block;
  float: right;
}

/* line 68, ../scss/partials/modules/_sites-project-page.scss */
.app-develop-experience {
  background-color: rgba(0, 0, 0, 0.6);
}
/* line 71, ../scss/partials/modules/_sites-project-page.scss */
.app-develop-experience p, .app-develop-experience img {
  height: auto;
  width: 45%;
}
